.main {
  width: 50%;
  margin: 7vh auto;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  grid-gap: var(--spacing-large);
}

.code {
  border-radius: var(--border-radius-large);
  background: rgba(234, 241, 251, 0.5);
  width: max-content;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
